<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>To do list VUE</title>
</head>

<body>
    <div id="toDoListApp" v-on:keyup.enter="newTaskClick" v-on:keyup.tab="test">
        <div class="title"> {{title}}</div>
        <div><input class="input" type="text" placeholder="your task" v-model="newTask"></div>
        <h3 class="book" v-if="newTask !='' ">{{newTask}}</h3>
        <div class="button_block"><button class="button" v-on:click="newTaskClick">{{ButtonText}}</button></div>
        <div class="task" v-for="(task,id) in tasks">
            <h3 class="task_line">{{id+1}}-{{task}}
                <span>
                <button class="up_btn" v-on:click="taskUp(id)">UP</button>
            </span>
                <span>
                <button class="down_btn" v-on:click="taskDown(id)">Down</button>
            </span>
                <span>
                    <button class ="check_btn" v-on:click="taskDone(id) , taskDoneRander(id)">Complete</button>
            </span>
                <span>
                <button class="clear_btn" v-on:click="taskDelete(id)">clear</button>
                <span class="done">{{tasksDones[id]}}</span>
                </span>
            </h3>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="script.js"></script>
</body>

</html>