body {
    display: flex;
    justify-content: center;
    background-color: gray;
    color: white;
    font-size: 40px;
}

.title {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.button_block {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.button {
    background-color: greenyellow;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    font-size: 40px;
}

.input {
    font-size: 40px;
    width: 500px;
    height: 40px;
    background-color: bisque;
}

.task {
    background-color: green;
    color: gold;
}

.clear_btn {
    background-color: red;
    font-size: 40px;
    color: antiquewhite;
    padding: 10px;
}

.task_line {
    display: flex;
    justify-content: space-between;
}